<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
<link rel="icon" href="static/favicon.ico" type="image/x-icon">
<title>GokGok</title>
</head>
<body>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Gok-Gok</a>
     
      </nav>
  
      <div class="container-fluid">
        <div class="row">
          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="/">
                    <span data-feather="home"></span>
                    Nmap <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="cve">
                    <span data-feather="bar-chart-2"></span>
                    CVE's
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="layers"></span>
                    Subdomains
                  </a>
                </li>
              </ul>
            </div>
          </nav>
  
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  
           
                    {{ range .List }}
                    {{ range .Hostnames }}
                    <h3>{{.Name}}</h3>
                    {{ end }}
                    <div class="table-responsive">
                    <table class="table table-light">
                            <thead>
                                <tr>
                                    <th scope="col" align="center">Port</th>
                                    <th scope="col" align="center">Service</th>
                                    <th scope="col" align="center">Product</th>
                                    <th scope="col" align="center">Version</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{ range .Ports }}
                                <tr>
                                
                                    <td>{{.PortId}}</td>
                                    <td>{{.Service.Name}}</td>
                
                                    {{ if .Service.Product}}
                                    <td>{{.Service.Product}}</td>
                                    {{else}}
                                    <td> - </td>
                                    {{ end }}
                                    
                                    {{ if .Service.Version }}
                                    <td>{{.Service.Version}} </td>
                                    {{else}}
                                    <td> - </td>
                                    {{ end }}
                                </tr>
                                {{ end }}
                            </tbody>
                        </table>
                    {{ end }}
                </div>
          </main>
        </div>
      </div>
</body>
</html>